html,
body {
  margin: 0 auto;
  padding: 0;
  background: hsla(215, 28%, 17%, 1);
  color: #ffffff;
  font-family: "Inter";
}

.topSection {
  text-align: center;
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  padding: 32px;
  margin: 0 auto;
}

.bottomSection {
  margin: auto auto;
  text-align: left;
  padding: 40px 0px;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 24px;
  /* identical to box height, or 173% */
  letter-spacing: -0.025em;
  margin-bottom: 8px;
}

.inpNumber {
  color: #fff;
  text-align: center;
  font-size: 98px;
  border: none;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0em;
  max-width: 320px;
  background: transparent;
}
.number:focus,
.number:default,
.number:active {
  background: transparent;
}

.metricsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 8px;
}

.results {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  color: #d2d2d2;
  margin: 0 20px;
}

.metricGr {
  margin: 8px auto;
  max-width: 240px;
  margin-bottom: 24px;
}

.bracketed {
  opacity: 0.5;
  color: hsla(215, 50%, 98%, 1);
}
